.services-container {
    background-image: url("/public/assets/service.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(62, 129, 191);
    font-size: 25px;
    font-weight: 600;
}
.services-list {
    list-style-type: none;
}
.service-item {
    align-self: start; 
}