.contact-container {
    background-image: url("/public/assets/out.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: rgb(47, 29, 181);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .contact-container {
        font-size: 30px;
    }
}